{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
<link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}">
{% endblock %}

{% block title %}
Machine Learning Mushrooms
{% endblock %}

{% block content %}
    <div class='jumbotron jumbotron-fluid mushroom-tron'>
        <div class='container p-3 little-black text-white'>
            <h1 class='display-4'>Is it Poison?</h1>
            <p class='lead'>Fill the form below to find out!</p>
        </div>
    </div>
    <div class='container mb-3'>
        {% if result %}
            <div class="card my-5 bg-{{ 'danger' if result['p'] > result['e'] else 'success' }} text-white">
                <div class="card-body">
                    <h3 class="card-title">Looks like it's {{ 'Poision' if result['p'] > result['e'] else 'Edible' }}!</h3>
                    <p class="card-text"> {{ result['p']*100 | round }}% Chance it's poisionous </p>
                    <p class="card-text"> {{ result['e']*100 | round }}% Chance it's edible </p>
                </div>
            </div>
        {% endif %}
        {{ wtf.quick_form(form, form_type='horizontal') }}
    </div>
    <footer class='bg-light'>
        <div class='container py-3 text-center text-muted font-italic'>
            <p class='my-1'>Created by <a href='http://github.com/andydevs'>Andydevs</a></p>
            <p class='my-1'>Overengineering shit since 2015</p>
            <p class='my-1'>View the <a href="https://github.com/andydevs/machine-learning-mushrooms">Github Repo</a></p>
            <p class='my-1'>
                Credits to 
                <a href="http://naturewallbase.blogspot.com/2011/07/hd-mushroom-wallpapers.html">HD Mushroom Wallpapers</a> 
                for the jumbotron image
            </p>
        </div>
    </footer>
{% endblock %}